/* styles.css */

/* Add custom styles for the bookstore website */
body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
}


.carousel-item img {
    height: 600px; /* Adjust this height as needed */
    object-fit: cover; /* Ensures the image covers the container */
    width: 100%; /* Ensures the image spans the full width */
}

.carousel-caption h5,
.carousel-caption p {
    color: black; /* Changes the color of the text to black */
}
.card {
    border: 1px solid #ddd;
}
.book-card {
    margin-bottom: 20px;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 850 / 983; /* Maintain the aspect ratio */
}

.card-body h5 {
    font-size: 1.25rem; /* Adjust font size for h5 */
    margin-top: 0.5rem;
}


.card-title {
    font-size: 1.25rem;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.footer .text-uppercase {
    font-weight: bold;
}

.footer .text-dark {
    color: #343a40 !important;
}

#categoryFilter, #sortOptions {
    margin-bottom: 20px;
}

/* styles.css */

.contact-button {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1030;
}




